<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

  <servlet>
    <!--注册一个前端控制器
    DispatcherServlet
    -->
    <!--
     这里写的这个名字是有讲究的
     如果我们不去修改spring配置文件默认的位置，
     那么springmvc他会去web-INF下面找一个叫springmvc-servlet.xml的文件
  -->
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

    <init-param>
      <!--上下文配置的位置的制定-->
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc.xml</param-value>
    </init-param>

  </servlet>

  <servlet-mapping><!--servlet映射配置-->
    <servlet-name>springmvc</servlet-name>
    <!--这里统一是“/"-->
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!--注册一个支持所有http请求类型的过滤器-->

  <filter>
    <filter-name>hiddenHttpMethodFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>hiddenHttpMethodFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
